<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <head>
    <title>Página de Questões</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <h1>Filosofia</h1>

      <h2>Página de Questões</h2>

      <div class="container-materias">
        <%- include('components/menuMaterias') %>
        <div class="content-questao">
          <div class="questao">
            <h2>
              1.QUESTÃO 1-(Enem/2017) <br />
              Uma conversação de tal natureza transforma o ouvinte; o contato de Sócrates paralisa e embaraça; leva a refletir sobre si mesmo, a imprimir à 
              atenção uma direção incomum: os temperamentais, como Alcibíades sabem que encontrarão junto dele todo o bem de que são capazes, mas fogem porque 
              receiam essa influência poderosa, que os leva a se censurarem. Sobretudo a esses jovens, muitos quase crianças, que ele tenta imprimir sua orientação.
              
              O texto evidencia características do modo de vida socrático, que se baseava na:
              
            </h2>
            <form id="form1">
              <br />
              <input
                type="radio"
                id="A-Contemplação da tradição mítica."
                name="questao1"
                value="A-Contemplação da tradição mítica."
              />
              <label
                for="A-Contemplação da tradição mítica."
                >A-Contemplação da tradição mítica.</label
              ><br />
              <input
                type="radio"
                id="B-Sustentação do método dialético."
                name="questao1"
                value="B-Sustentação do método dialético."
              />
              <label
                for="B-Sustentação do método dialético."
                >B-Sustentação do método dialético.</label
              ><br />
              <input
                type="radio"
                id="C- Relativização do saber verdadeiro."
                name="questao1"
                value="C- Relativização do saber verdadeiro."
              />
              <label for="C- Relativização do saber verdadeiro."
                >C- Relativização do saber verdadeiro. </label
              ><br />
              <input
                type="radio"
                id="D-Valorização da argumentação retórica.
              "
                name="questao1"
                value="D-Valorização da argumentação retórica.
              "
              />
              <label
                for="D-Valorização da argumentação retórica.
              
                "
                >D-Valorização da argumentação retórica.
               </label
              ><br />
              <input
                type="radio"
                id="E-Investigação dos fundamentos da natureza.
              "
                name="questao1"
                value="E-Investigação dos fundamentos da natureza.
              "
              />
              <label
                for="E-Investigação dos fundamentos da natureza.
              
                "
                >E-Investigação dos fundamentos da natureza.
               </label
              ><br />
              <button type="button" onclick="verificarQuestao1()">Verificar</button>
            </form>
            <div class="resultado" id="resultado1"></div>
            <div id="resolucao1" style="display: none">
              <p>
                <strong>Resolução:</strong>B-Sustentação do método dialético.
                <br />
                <br>Sócrates foi um defensor da ignorância como o princípio básico para o conhecimento. Daí a importância da sua 
                frase "só sei que nada sei". Para ele, é preferível não saber a julgar saber.
                Sendo assim, Sócrates construiu um método que, através do diálogo (método dialético), as falsas certezas e 
                os pré-conceitos eram abandonados, o interlocutor assumia a sua ignorância. A partir daí, buscava o conhecimento verdadeiro.
                As outras alternativas estão erradas porque:
                
                A- Sócrates busca abandonar os mitos e as opiniões para a construção do conhecimento verdadeiro.
                
                C- Sócrates acreditava que existe um conhecimento verdadeiro e esse pode ser despertado através da razão. 
                Teceu diversas críticas aos sofistas por esses assumirem uma perspetiva de relativização do saber.
                
                D- Os sofistas afirmavam que a verdade é um mero ponto de vista, estando baseada no argumento mais convincente. 
                Para Sócrates, essa posição era contrária à essência do saber verdadeiro, próprio da alma humana.
                
                E- O filósofo dá início ao período antropológico da filosofia grega. As questões relativas à vida humana viram o centro das atenções, 
                deixando de lado a busca sobre os fundamentos da natureza, própria do período pré-socrático.
                
              </p>
            </div>
          </div>
    
          <div class="questao">
            <h2>2. QUESTÃO 2-(Enem/2019)<br />
              Para Maquiavel, quando um homem decide dizer a verdade pondo em risco a própria integridade física, tal resolução diz 
              respeito apenas a sua pessoa. Mas se esse mesmo homem é um chefe de Estado, os critérios pessoais não são mais adequados 
              para decidir sobre ações cujas consequências se tornam tão amplas, já que o prejuízo não será apenas individual, mas coletivo. 
              Nesse caso, conforme as circunstâncias e os fins a serem atingidos, pode-se decidir que o melhor para o bem comum seja mentir.
              
              O texto aponta uma inovação na teoria política na época moderna expressa na distinção entre :              
                </h2>
            <form id="form2">
              <br /><input type="radio" id="A-idealidade e efetividade da moral."
               name="questao2" value="A-idealidade e efetividade da moral." />
              <label for="A-idealidade e efetividade da moral.">A-idealidade e efetividade da moral.
            </label><br />
              <input type="radio" id="B-nulidade e preservabilidade da liberdade.
              "
               name="questao2" value="B-nulidade e preservabilidade da liberdade.
              " />
              <label for="B-nulidade e preservabilidade da liberdade.
              ">B-nulidade e preservabilidade da liberdade.
              
            </label><br />
              <input type="radio" id="C-ilegalidade e legitimidade do governante."
               name="questao2" value="C-ilegalidade e legitimidade do governante." />
              <label for="C-ilegalidade e legitimidade do governante.">C-ilegalidade e legitimidade do governante.
            </label><br />
            <input type="radio" id="D- verificabilidade e possibilidade da verdade."
             name="questao2" value="D- verificabilidade e possibilidade da verdade." />
            <label for="D- verificabilidade e possibilidade da verdade.">D- verificabilidade e possibilidade da verdade.
            </label><br />
             <input type="radio" id="E-objetividade e subjetividade do conhecimento."
                name="questao2" value="E-objetividade e subjetividade do conhecimento." />
               <label for="E-objetividade e subjetividade do conhecimento.">E-objetividade e subjetividade do conhecimento.
            </label><br />
              <button type="button" onclick="verificarQuestao2()">Verificar</button>
            </form>
            <div class="resultado" id="resultado2"></div>
            <div id="resolucao2" style="display: none">
              <p><strong>Resolução:</strong>A-idealidade e efetividade da moral. <br />
                <br> A filosofia maquiaveliana é marcada pela forte distinção entre o dever do indivíduo comum e o dever do príncipe (Estado).
                Assim, a idealidade da moral, aplicada aos indivíduos comuns, não pode ser aplicada à lógica do governo. 
                A responsabilidade do príncipe é com a governança, sendo assim, está ligada a efetividade de suas ações, ainda que contrariem a moral ideal.
                Em outras palavras, a virtú do governante está fundamentada em sua capacidade de se antecipar às imprevisibilidades 
                da história e tomar medidas eficazes, que se distinguem da moral cristã tradicional.
                As outras alternativas estão erradas porque:
                Nenhuma das outras alternativas apresenta uma distinção relevante no pensamento de Maquiavel.
                
                </p>
            </div>
          </div>
          <div class="questao">
            <h2>3. QUESTÃO 3-(Enem Digital 2020)  <br />
              Os cuidados com o corpo vão se tornando uma exigência na modernidade e implicam a convergência de uma série de elementos: as 
              tecnologias, para tanto, vão se desenvolvendo de maneira acelerada; o mercado dos produtos e serviços voltados para o corpo 
              vai se expandindo; a higiene que fundamentava esses cuidados vai sendo substituída pelos prazeres do “corpo”, implicação lógica 
              do processo de secularização, no qual há a identificação da personalidade dos indivíduos com sua aparência. Por todas essas 
              circunstâncias, o cuidado com o corpo transforma-se numa ditadura do corpo, um corpo que corresponda à expectativa desse tempo, 
              um corpo que seja trabalhado arduamente e do qual os vestígios de naturalidade sejam eliminados.
              
              O fenômeno social identificado, em relação à presença do corpo na sociedade, indica que
              
                </h2>
            <form id="form3">
              <br /><input type="radio" id="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo."
               name="questao3" value="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo." />
              <label for="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo.">
                A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo.
              </label><br />

              <input type="radio" id="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo."
               name="questao3" value="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo." />
              <label for="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo.">
                B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo.
    
            </label><br />
    
              <input type="radio" id="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal"
               name="questao3" value="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal" />
              <label for="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal">
                C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal
            </label><br />
    
            <input type="radio" id="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos."
             name="questao3" value="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos." />
            <label for="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.">
              D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.

            </label><br />
    
             <input type="radio" id="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população."
                name="questao3" value="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população." />
               <label for="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população.">
                E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população.

            </label><br />
    
              <button type="button" onclick="verificarQuestao3()">Verificar</button>
            </form>
    
            <div class="resultado" id="resultado3"></div>
            <div id="resolucao3" style="display: none">
              <p><strong>Resolução:</strong> 
                A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo.
                 <br />
                <br> De acordo com o texto, os cuidados com o corpo na modernidade se tornaram uma exigência e envolvem a convergência de uma série de elementos, 
                como o desenvolvimento acelerado de tecnologias, o crescimento do mercado de produtos e serviços voltados para o corpo, e o fato de que a higiene que 
                antes fundamentava esses cuidados foi substituída pelos prazeres do "corpo". Isso leva a uma ditadura do corpo, em que há uma expectativa de que 
                ele corresponda aos padrões estéticos desse tempo e seja trabalhado arduamente para eliminar qualquer traço de naturalidade. Portanto, a opção A é a correta.
                
                
                </p>
            </div>
          </div>
          <div class="questao">
            <h2>4. QUESTÃO 4-(Enem Digital 2020)  <br />
              O que dizer de um corpo flácido, gordo, considerado deselegante nos dias de hoje, mas que era, há não muito tempo, considerado sensual e 
              inspirador por pintores clássicos? Como entender o conceito de saúde, associado antigamente a um corpo robusto, até mesmo gordo, e atualmente 
              relacionado a um corpo magro? E o corpo já não tão jovem, sobre o qual é imposta uma série de “consertos” e “reparos” para parecer mais jovem? 
              O que se pode dizer é que o corpo é uma síntese da cultura, pois, através do seu corpo, o ser humano vai assimilando e se apropriando dos valores, 
              normas e costumes sociais, em um processo de incorporação.

              As mudanças das representações sobre o corpo ao longo da história são provenientes da

                </h2>
            <form id="form4">
              <br /><input type="radio" id="A-busca permanente pela saúde relacionada a um padrão corporal específico."
               name="questao4" value="A-busca permanente pela saúde relacionada a um padrão corporal específico." />
              <label for="A-busca permanente pela saúde relacionada a um padrão corporal específico.">
                A-busca permanente pela saúde relacionada a um padrão corporal específico.
              </label><br />

              <input type="radio" id="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. "
               name="questao4" value="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. " />
              <label for="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. ">
                B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano.
            </label><br />
    
              <input type="radio" id="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal."
               name="questao4" value="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal." />
              <label for="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal. ">
                C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal.

            </label><br />
    
            <input type="radio" id="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos."
             name="questao4" value="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos." />
            <label for="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.">
              D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.

            </label><br />
    
             <input type="radio" id="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo."
                name="questao4" value="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo." />
               <label for="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo.">
               E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo.


            </label><br />
    
              <button type="button" onclick="verificarQuestao4()">Verificar</button>
            </form>
    
            <div class="resultado" id="resultado4"></div>
            <div id="resolucao4" style="display: none">
              <p><strong>Resolução:</strong> 
                E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo.
                 <br />
                <br>  As mudanças das representações sobre o corpo ao longo da história são provenientes da influência da sociedade 
                na construção dos sentidos e significados sociais relacionados ao corpo. É importante destacar que o corpo é uma síntese 
                da cultura e reflete os valores, normas e costumes da sociedade em que está inserido. Portanto, a forma como o corpo é visto 
                e valorizado pode variar de acordo com a época e o contexto cultural. Além disso, é preciso levar em consideração que o conceito 
                de saúde também pode mudar ao longo do tempo, e que isso pode estar relacionado a diferentes fatores, como a medicina e a nutrição, por exemplo.
                </p>
            </div>
        </div>
        <div class="questao">
          <h2>5. QUESTÃO 5-(Enem Digital 2020)  <br />
            Nos dias atuais, para as crianças e os adolescentes, a alimentação adequada e balanceada está associada, na maioria das vezes,
            à busca da forma ideal, segundo padrões ditados pela mídia. Se antes essa preocupação era predominantemente feminina, hoje existem 
            adolescentes tentando emagrecer a qualquer custo: entram e saem de dietas e regimes feitos por conta própria, automedicam-se ou 
            praticam exercícios físicos sem orientação.
            Adolescentes associam que a conquista da “forma ideal” do corpo está relacionada à

              </h2>
          <form id="form5">
            <br /><input type="radio" id="A-adoção de hábitos inadequados à saúde no cotidiano."
             name="questao5" value="A-adoção de hábitos inadequados à saúde no cotidiano." />
            <label for="A-adoção de hábitos inadequados à saúde no cotidiano.">
            A-adoção de hábitos inadequados à saúde no cotidiano.

            </label><br />

            <input type="radio" id="B-busca de auxílio médico para o tratamento com fármacos."
             name="questao5" value="B-busca de auxílio médico para o tratamento com fármacos." />
            <label for="B-busca de auxílio médico para o tratamento com fármacos.">
             B-busca de auxílio médico para o tratamento com fármacos.

          </label><br />
  
            <input type="radio" id="C-adesão a programas oferecidos por academias de ginástica."
             name="questao5" value="C-adesão a programas oferecidos por academias de ginástica." />
            <label for="C-adesão a programas oferecidos por academias de ginástica.">
            C-adesão a programas oferecidos por academias de ginástica.

          </label><br />
  
          <input type="radio" id="D-atuação da mídia na estética presente no imaginário feminino."
           name="questao5" value="D-atuação da mídia na estética presente no imaginário feminino." />
          <label for="D-atuação da mídia na estética presente no imaginário feminino.">
          D-atuação da mídia na estética presente no imaginário feminino.


          </label><br />
  
           <input type="radio" id="E-procura de um nutricionista para a realização de dieta e regime."
              name="questao5" value="E-procura de um nutricionista para a realização de dieta e regime." />
             <label for="E-procura de um nutricionista para a realização de dieta e regime.">
             E-procura de um nutricionista para a realização de dieta e regime.

          </label><br />
  
            <button type="button" onclick="verificarQuestao5()">Verificar</button>
          </form>
  
          <div class="resultado" id="resultado5"></div>
          <div id="resolucao5" style="display: none">
            <p><strong>Resolução:</strong> 
              A-adoção de hábitos inadequados à saúde no cotidiano

               <br />
              <br>Adolescentes associam que a conquista da "forma ideal" do corpo está relacionada à adoção de hábitos inadequados à saúde no cotidiano. 
              A pressão pela conformidade aos padrões de beleza impostos pela mídia pode levar os adolescentes a buscar formas pouco saudáveis de alcançar esses 
              padrões, como entrar e sair de dietas e regimes feitos por conta própria, automedicar-se ou praticar exercícios físicos sem orientação. É importante ressaltar 
              que a busca pela forma ideal do corpo não deve ser priorizada em detrimento da saúde e da qualidade de vida. É preciso encontrar um equilíbrio e adotar 
              hábitos saudáveis de alimentação e exercícios físicos, com o auxílio de profissionais qualificados, se necessário.
                            
              </p>
          </div>
      </div>

      
    </main>
    <%- include('components/footer') %>
  </body>
</html>
