<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <head>
    <title>Página de Questões</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <h1>Geografia</h1>

      <h2>Página de Questões</h2>

      <div class="container-materias">
        <%- include('components/menuMaterias') %>
        <div class="content-questao">
          <div class="questao">
            <h2>
              1.QUESTÃO 1-(Enem/2018)<br />
              Em Beirute, no Líbano, quando perguntado sobre onde se encontram os refugiados sírios, a resposta do homem é 
              imediata: “em todos os lugares e em lugar nenhum”. Andando ao acaso, não é raro ver, sob um prédio ou num canto 
              de calçada, ao abrigo do vento, uma família refugiada em volta de uma refeição frugal posta sobre jornais como se 
              fossem guardanapos. Também se vê de vez em quando uma tenda com a sigla ACNUR (Alto Comissariado das Nações Unidas para Refugiados), 
              erguida em um dos raros terrenos vagos da capital.
              
              O cenário descrito aponta para uma crise humanitária que é explicada pelo processo de :
                            
            </h2>
            <form id="form1">
              <br />
              <input
                type="radio"
                id="A-migração massiva de pessoas atingidas por catástrofe natural.
"
                name="questao1"
                value="A-migração massiva de pessoas atingidas por catástrofe natural.
"
              />
              <label
                for="A-migração massiva de pessoas atingidas por catástrofe natural.
"
                >A-migração massiva de pessoas atingidas por catástrofe natural.
                </label
              ><br />
              <input
                type="radio"
                id="B-hibridização cultural de grupos caracterizados por homogeneidade social."
                name="questao1"
                value="B-hibridização cultural de grupos caracterizados por homogeneidade social."
              />
              <label
                for="B-hibridização cultural de grupos caracterizados por homogeneidade social."
                >B-hibridização cultural de grupos caracterizados por homogeneidade social.</label
              ><br />
              <input
                type="radio"
                id="C-desmobilização voluntária de militantes cooptados por seitas extremistas.
"
                name="questao1"
                value="C-desmobilização voluntária de militantes cooptados por seitas extremistas.
"
              />
              <label for="C-desmobilização voluntária de militantes cooptados por seitas extremistas.
"
                >C-desmobilização voluntária de militantes cooptados por seitas extremistas.
 </label
              ><br />
              <input
                type="radio"
                id="D-peregrinações religiosas de fiéis orientados por lideranças fundamentalistas."
                name="questao1"
                value="D-peregrinações religiosas de fiéis orientados por lideranças fundamentalistas."
              />
              <label
                for="D-peregrinações religiosas de fiéis orientados por lideranças fundamentalistas.
                "
                >D-peregrinações religiosas de fiéis orientados por lideranças fundamentalistas. </label
              ><br />
              <input
                type="radio"
                id="E-desterritorialização forçada de populações afetadas por conflitos armados."
                name="questao1"
                value="E-desterritorialização forçada de populações afetadas por conflitos armados."
              />
              <label
                for="E-desterritorialização forçada de populações afetadas por conflitos armados.
                "
                >E-desterritorialização forçada de populações afetadas por conflitos armados. </label
              ><br />
              <button type="button" onclick="verificarQuestao1()">Verificar</button>
            </form>
            <div class="resultado" id="resultado1"></div>
            <div id="resolucao1" style="display: none">
              <p>
                <strong>Resolução:</strong>E-desterritorialização forçada de populações afetadas por conflitos armados.
                <br />
                <br> A- ERRADA. Os refugiados sírios não foram vítimas de catástrofes naturais (enchentes ou terremotos, por exemplo). 
                O temor gerado pela guerra civil força o deslocamento de grupos sírios para outros países em busca de segurança.
                
                B- ERRADA. O relato não faz referência a nenhum tipo de interculturalidade ou homogeneidade social. Pelo contrário, 
                no trecho dá a entender que os grupos de refugiados encontram-se marginalizados e dependentes da ajuda de órgãos internacionais como a ONU.
                
                C- ERRADA. Os refugiados são forçados a abandonar seu território de origem por conta da violência causada pela guerra. 
                Não há, necessariamente, uma desmobilização voluntária de militantes. Caso haja, não possui números expressivos no que diz respeito ao volume de refugiados.
                
                D- ERRADA. Os refugiados sírios estão fugindo da guerra civil. Sua movimentação não representa nenhum tipo de peregrinação religiosa.
                
                E- CORRETA. Os diversos conflitos armados existentes no mundo são a principal causa da desterritorialização e do deslocamento 
                de refugiados na atualidade. Trata-se de uma migração forçada, que gera efeitos em diversos países compreendidos como os principais destinos das vítimas da guerra.
                
                Na Síria, a guerra civil iniciada em 2011, tem feito com que vários habitantes sejam forçados a buscar asilo em outros países. 
                O Líbano tem sido um dos principais destinos de sírios que temem por suas vidas e deslocam-se em busca de segurança.
                
                
            </div>
          </div>
    
          <div class="questao">
            <h2>2. QUESTÃO 2-(Enem/2018) <br />
              Os países industriais adotaram uma concepção diferente das relações familiares e do lugar da fecundidade na vida familiar e social. 
              A preocupação de garantir uma transmissão integral das vantagens econômicas e sociais adquiridas tem como resultado uma ação voluntária 
              de limitação do número de nascimentos.
              
              Em meados do século XX, o fenômeno social descrito contribuiu para o processo europeu de :
            
            <form id="form2">
              <br /><input type="radio" id="A- estabilização da pirâmide etária.
               "
               name="questao2" value="A- estabilização da pirâmide etária.
               " />
              <label for="A- estabilização da pirâmide etária.
               ">A- estabilização da pirâmide etária.
               
            </label><br />
              <input type="radio" id="B-conclusão da transição demográfica."
               name="questao2" value="B-conclusão da transição demográfica." />
              <label for="B-conclusão da transição demográfica.">B-conclusão da transição demográfica.
            </label><br />
              <input type="radio" id="C- contenção da entrada de imigrantes.
              "
               name="questao2" value="C- contenção da entrada de imigrantes.
              " />
              <label for="C- contenção da entrada de imigrantes.
              ">C- contenção da entrada de imigrantes.
              
            </label><br />
            <input type="radio" id="D-elevação do crescimento vegetativo."
             name="questao2" value="D-elevação do crescimento vegetativo." />
            <label for="D-elevação do crescimento vegetativo.">D-elevação do crescimento vegetativo.
            </label><br />
             <input type="radio" id="E- formação de espaços superpovoados.
              "
                name="questao2" value="E- formação de espaços superpovoados.
              " />
               <label for="E- formação de espaços superpovoados.
              ">E- formação de espaços superpovoados.
              
            </label><br />
              <button type="button" onclick="verificarQuestao2()">Verificar</button>
            </form>
            <div class="resultado" id="resultado2"></div>
            <div id="resolucao2" style="display: none">
              <p><strong>Resolução:</strong> B-conclusão da transição demográfica. <br />
                <br> A-ERRADA. O período descrito no texto, mostra uma mudança de comportamento que limitou o número de nascimentos.
                Com isso, houve, na verdade, uma desestabilização dessa pirâmide etária. A diminuição das taxas reprodutivas faz com que haja uma transformação da pirâmide etária.
                A diminuição da taxa de natalidade faz com que aumente, relativamente, o número de adultos e idosos, podendo gerar um relevante "envelhecimento" das populações.
                
                B-CORRETA. No século XX, observou-se a conclusão da transição demográfica nos países industrializados.
                Segundo os estudos demográficos, a industrialização fez disparar as taxas de natalidade.
                Entretanto, no período pós-industrialização, os avanços tecnológicos e sociais fazem com que as taxas de natalidade e de mortalidade regridam 
                gradativamente e haja uma transformação na pirâmide etária desses países. Esse processo é chamado de "transição demográfica".
                Essa diminuição voluntária das taxas de fecundidade é um fenômeno social regular observado nos países industrializados, fazendo com que se conclua 
                a transição demográfica, mantendo relativamente equilibrados os números de nascimentos e mortes.
                
                C- ERRADA. A contenção da entrada de imigrantes não tem uma relação direta com a redução das taxas de fecundidade.
                
                Pelo contrário, o que se pode observar é que a diminuição das taxas de natalidade e o envelhecimento populacional geram políticas de estímulo à migração em certos países.
                
                D- ERRADA. O crescimento vegetativo ou crescimento natural representa diferença entre o número de nascimentos e mortes dentro de uma população.
                
                No caso dos países industrializados, esses números são muito próximos, não havendo o crescimento da população.
                
                E- ERRADA. Da mesma forma, não há um superpovoamento dos espaços. As taxas de crescimento populacional encontram-se equilibradas ou mesmo em declínio em alguns casos.
                
                </p>
            </div>
          </div>
          <div class="questao">
            <h2>3. QUESTÃO 3-(Enem Digital 2020)  <br />
              Os cuidados com o corpo vão se tornando uma exigência na modernidade e implicam a convergência de uma série de elementos: as 
              tecnologias, para tanto, vão se desenvolvendo de maneira acelerada; o mercado dos produtos e serviços voltados para o corpo 
              vai se expandindo; a higiene que fundamentava esses cuidados vai sendo substituída pelos prazeres do “corpo”, implicação lógica 
              do processo de secularização, no qual há a identificação da personalidade dos indivíduos com sua aparência. Por todas essas 
              circunstâncias, o cuidado com o corpo transforma-se numa ditadura do corpo, um corpo que corresponda à expectativa desse tempo, 
              um corpo que seja trabalhado arduamente e do qual os vestígios de naturalidade sejam eliminados.
              
              O fenômeno social identificado, em relação à presença do corpo na sociedade, indica que
              
                </h2>
            <form id="form3">
              <br /><input type="radio" id="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo."
               name="questao3" value="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo." />
              <label for="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo.">
                A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo.
              </label><br />

              <input type="radio" id="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo."
               name="questao3" value="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo." />
              <label for="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo.">
                B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo.
    
            </label><br />
    
              <input type="radio" id="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal"
               name="questao3" value="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal" />
              <label for="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal">
                C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal
            </label><br />
    
            <input type="radio" id="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos."
             name="questao3" value="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos." />
            <label for="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.">
              D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.

            </label><br />
    
             <input type="radio" id="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população."
                name="questao3" value="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população." />
               <label for="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população.">
                E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população.

            </label><br />
    
              <button type="button" onclick="verificarQuestao3()">Verificar</button>
            </form>
    
            <div class="resultado" id="resultado3"></div>
            <div id="resolucao3" style="display: none">
              <p><strong>Resolução:</strong> 
                A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo.
                 <br />
                <br> De acordo com o texto, os cuidados com o corpo na modernidade se tornaram uma exigência e envolvem a convergência de uma série de elementos, 
                como o desenvolvimento acelerado de tecnologias, o crescimento do mercado de produtos e serviços voltados para o corpo, e o fato de que a higiene que 
                antes fundamentava esses cuidados foi substituída pelos prazeres do "corpo". Isso leva a uma ditadura do corpo, em que há uma expectativa de que 
                ele corresponda aos padrões estéticos desse tempo e seja trabalhado arduamente para eliminar qualquer traço de naturalidade. Portanto, a opção A é a correta.
                
                
                </p>
            </div>
          </div>
          <div class="questao">
            <h2>4. QUESTÃO 4-(Enem Digital 2020)  <br />
              O que dizer de um corpo flácido, gordo, considerado deselegante nos dias de hoje, mas que era, há não muito tempo, considerado sensual e 
              inspirador por pintores clássicos? Como entender o conceito de saúde, associado antigamente a um corpo robusto, até mesmo gordo, e atualmente 
              relacionado a um corpo magro? E o corpo já não tão jovem, sobre o qual é imposta uma série de “consertos” e “reparos” para parecer mais jovem? 
              O que se pode dizer é que o corpo é uma síntese da cultura, pois, através do seu corpo, o ser humano vai assimilando e se apropriando dos valores, 
              normas e costumes sociais, em um processo de incorporação.

              As mudanças das representações sobre o corpo ao longo da história são provenientes da

                </h2>
            <form id="form4">
              <br /><input type="radio" id="A-busca permanente pela saúde relacionada a um padrão corporal específico."
               name="questao4" value="A-busca permanente pela saúde relacionada a um padrão corporal específico." />
              <label for="A-busca permanente pela saúde relacionada a um padrão corporal específico.">
                A-busca permanente pela saúde relacionada a um padrão corporal específico.
              </label><br />

              <input type="radio" id="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. "
               name="questao4" value="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. " />
              <label for="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. ">
                B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano.
            </label><br />
    
              <input type="radio" id="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal."
               name="questao4" value="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal." />
              <label for="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal. ">
                C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal.

            </label><br />
    
            <input type="radio" id="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos."
             name="questao4" value="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos." />
            <label for="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.">
              D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.

            </label><br />
    
             <input type="radio" id="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo."
                name="questao4" value="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo." />
               <label for="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo.">
               E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo.


            </label><br />
    
              <button type="button" onclick="verificarQuestao4()">Verificar</button>
            </form>
    
            <div class="resultado" id="resultado4"></div>
            <div id="resolucao4" style="display: none">
              <p><strong>Resolução:</strong> 
                E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo.
                 <br />
                <br>  As mudanças das representações sobre o corpo ao longo da história são provenientes da influência da sociedade 
                na construção dos sentidos e significados sociais relacionados ao corpo. É importante destacar que o corpo é uma síntese 
                da cultura e reflete os valores, normas e costumes da sociedade em que está inserido. Portanto, a forma como o corpo é visto 
                e valorizado pode variar de acordo com a época e o contexto cultural. Além disso, é preciso levar em consideração que o conceito 
                de saúde também pode mudar ao longo do tempo, e que isso pode estar relacionado a diferentes fatores, como a medicina e a nutrição, por exemplo.
                </p>
            </div>
        </div>
        <div class="questao">
          <h2>5. QUESTÃO 5-(Enem Digital 2020)  <br />
            Nos dias atuais, para as crianças e os adolescentes, a alimentação adequada e balanceada está associada, na maioria das vezes,
            à busca da forma ideal, segundo padrões ditados pela mídia. Se antes essa preocupação era predominantemente feminina, hoje existem 
            adolescentes tentando emagrecer a qualquer custo: entram e saem de dietas e regimes feitos por conta própria, automedicam-se ou 
            praticam exercícios físicos sem orientação.
            Adolescentes associam que a conquista da “forma ideal” do corpo está relacionada à

              </h2>
          <form id="form5">
            <br /><input type="radio" id="A-adoção de hábitos inadequados à saúde no cotidiano."
             name="questao5" value="A-adoção de hábitos inadequados à saúde no cotidiano." />
            <label for="A-adoção de hábitos inadequados à saúde no cotidiano.">
            A-adoção de hábitos inadequados à saúde no cotidiano.

            </label><br />

            <input type="radio" id="B-busca de auxílio médico para o tratamento com fármacos."
             name="questao5" value="B-busca de auxílio médico para o tratamento com fármacos." />
            <label for="B-busca de auxílio médico para o tratamento com fármacos.">
             B-busca de auxílio médico para o tratamento com fármacos.

          </label><br />
  
            <input type="radio" id="C-adesão a programas oferecidos por academias de ginástica."
             name="questao5" value="C-adesão a programas oferecidos por academias de ginástica." />
            <label for="C-adesão a programas oferecidos por academias de ginástica.">
            C-adesão a programas oferecidos por academias de ginástica.

          </label><br />
  
          <input type="radio" id="D-atuação da mídia na estética presente no imaginário feminino."
           name="questao5" value="D-atuação da mídia na estética presente no imaginário feminino." />
          <label for="D-atuação da mídia na estética presente no imaginário feminino.">
          D-atuação da mídia na estética presente no imaginário feminino.


          </label><br />
  
           <input type="radio" id="E-procura de um nutricionista para a realização de dieta e regime."
              name="questao5" value="E-procura de um nutricionista para a realização de dieta e regime." />
             <label for="E-procura de um nutricionista para a realização de dieta e regime.">
             E-procura de um nutricionista para a realização de dieta e regime.

          </label><br />
  
            <button type="button" onclick="verificarQuestao5()">Verificar</button>
          </form>
  
          <div class="resultado" id="resultado5"></div>
          <div id="resolucao5" style="display: none">
            <p><strong>Resolução:</strong> 
              A-adoção de hábitos inadequados à saúde no cotidiano

               <br />
              <br>Adolescentes associam que a conquista da "forma ideal" do corpo está relacionada à adoção de hábitos inadequados à saúde no cotidiano. 
              A pressão pela conformidade aos padrões de beleza impostos pela mídia pode levar os adolescentes a buscar formas pouco saudáveis de alcançar esses 
              padrões, como entrar e sair de dietas e regimes feitos por conta própria, automedicar-se ou praticar exercícios físicos sem orientação. É importante ressaltar 
              que a busca pela forma ideal do corpo não deve ser priorizada em detrimento da saúde e da qualidade de vida. É preciso encontrar um equilíbrio e adotar 
              hábitos saudáveis de alimentação e exercícios físicos, com o auxílio de profissionais qualificados, se necessário.
                            
              </p>
          </div>
      </div>

      
    </main>
    <%- include('components/footer') %>
  </body>
</html>
