<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <head>
    <title>Página de Questões</title>
  </head>
  <body>
    <%- include('components/header') %>
    <main>
      <h1>História</h1>

      <h2>Página de Questões</h2>

      <div class="container-materias">
        <%- include('components/menuMaterias') %>
        <div class="content-questao">
          <div class="questao">
            <h2>
              1.QUESTÃO 1-(Enem/2013)<br />
              É preciso ressaltar que, de todas as capitanias brasileiras, Minas era a mais urbanizada. 
              Não havia ali hegemonia de um ou dois grandes centros. A região era repleta de vilas e arraiais, 
              grandes e pequenos, em cujas ruas muita gente circulava.
              
              As regiões da América portuguesa tiveram distintas lógicas de ocupação. Uma explicação para a especificidade da região descrita no texto está identificada na:
              
            </h2>
            <form id="form1">
              <br />
              <input
                type="radio"
                id="A-apropriação cultural diante das influências externas."
                name="questao1"
                value="A-apropriação cultural diante das influências externas."
              />
              <label
                for="A-apropriação cultural diante das influências externas."
                >A-apropriação cultural diante das influências externas.</label
              ><br />
              <input
                type="radio"
                id="B-produção manufatureira diante do exclusivo comercial."
                name="questao1"
                value="B-produção manufatureira diante do exclusivo comercial."
              />
              <label
                for="B-produção manufatureira diante do exclusivo comercial."
                >B-produção manufatureira diante do exclusivo comercial.</label
              ><br />
              <input
                type="radio"
                id="C-insubordinação religiosa diante da hierarquia eclesiástica."
                name="questao1"
                value="C-insubordinação religiosa diante da hierarquia eclesiástica."
              />
              <label for="C-insubordinação religiosa diante da hierarquia eclesiástica."
                >C-insubordinação religiosa diante da hierarquia eclesiástica. </label
              ><br />
              <input
                type="radio"
                id="D-fiscalização estatal diante das particularidades econômicas."
                name="questao1"
                value="D-fiscalização estatal diante das particularidades econômicas."
              />
              <label
                for="D-fiscalização estatal diante das particularidades econômicas.
                "
                >D-fiscalização estatal diante das particularidades econômicas. </label
              ><br />
              <input
                type="radio"
                id="E-autonomia administrativa diante das instituições metropolitanas."
                name="questao1"
                value="E-autonomia administrativa diante das instituições metropolitanas."
              />
              <label
                for="E-autonomia administrativa diante das instituições metropolitanas."
                >E-autonomia administrativa diante das instituições metropolitanas. </label
              ><br />
              <button type="button" onclick="verificarQuestao1H()">Verificar</button>
            </form>
            <div class="resultado" id="resultado1"></div>
            <div id="resolucao1" style="display: none">
              <p>
                <strong>Resolução:</strong>D-fiscalização estatal diante das particularidades econômicas.
                <br />
                <br>Por conta da extração do ouro, Minas Gerais sempre foi mais vigiada pelo poder público a fim de garantir que as riquezas encontradas chegariam à Corte.
                As outras opções não refletem a realidade histórica da região neste período com exageros como "produção manufatureira" e "autonomia administrativa".
                
              </p>
            </div>
          </div>
    
          <div class="questao">
            <h2>2. QUESTÃO 2-(Enem/2016)  <br />
              No aniversário do primeiro decênio da Marcha sobre Roma, em outubro de 1932, Mussolini irá inaugurar sua Via dell Impero; a nova Via Sacra do Fascismo, 
              ornada com estátuas de César, Augusto, Trajano, servirá ao culto do antigo e à glória do Império Romano e de espaço comemorativo do ufanismo italiano. 
              Às sombras do passado recriado ergue-se a nova Roma, que pode vangloriar-se e celebrar seus imperadores e homens fortes; seus grandes poetas e apólogos 
              como Horácio e Virgílio.
              
              A retomada da Antiguidade clássica pela perspectiva do patrimônio cultural foi realizada com o objetivo de
              
                </h2>
            <form id="form2">
              <br /><input type="radio" id="A-afirmar o ideário cristão para reconquistar a grandeza perdida."
               name="questao2" value="A-afirmar o ideário cristão para reconquistar a grandeza perdida." />
              <label for="A-afirmar o ideário cristão para reconquistar a grandeza perdida.">A-afirmar o ideário cristão para reconquistar a grandeza perdida.
            </label><br />
              <input type="radio" id="B-utilizar os vestígios restaurados para justificar o regime político."
               name="questao2" value="B-utilizar os vestígios restaurados para justificar o regime político." />
              <label for="B-utilizar os vestígios restaurados para justificar o regime político.">B-utilizar os vestígios restaurados para justificar o regime político.
            </label><br />
              <input type="radio" id="C-difundir os saberes ancestrais para moralizar os costumes sociais."
               name="questao2" value="C-difundir os saberes ancestrais para moralizar os costumes sociais." />
              <label for="C-difundir os saberes ancestrais para moralizar os costumes sociais.">C-difundir os saberes ancestrais para moralizar os costumes sociais.
            </label><br />
            <input type="radio" id="D-refazer o urbanismo clássico para favorecer a participação política."
             name="questao2" value="D-refazer o urbanismo clássico para favorecer a participação política." />
            <label for="D-refazer o urbanismo clássico para favorecer a participação política.">D-refazer o urbanismo clássico para favorecer a participação política.
            </label><br />
             <input type="radio" id="E- recompor a organização republicana para fortalecer a administração estatal."
                name="questao2" value="E- recompor a organização republicana para fortalecer a administração estatal." />
               <label for="E- recompor a organização republicana para fortalecer a administração estatal.">E- recompor a organização republicana para fortalecer a administração estatal.
            </label><br />
              <button type="button" onclick="verificarQuestao2()">Verificar</button>
            </form>
            <div class="resultado" id="resultado2"></div>
            <div id="resolucao2" style="display: none">
              <p><strong>Resolução:</strong> B-utilizar os vestígios restaurados para justificar o regime político. <br />
                <br> Mussolini utiliza o passado do Império Romano para mostrar a continuidade entre os dois regimes e assim, 
                empregava vários símbolos desta época a fim de reforçar esta ligação. Desta maneira, ele reforçava a ideia de um 
                passado expansionista para justificar as conquistas na África, por exemplo.
                As demais opções não são corretas, pois o regime de Mussolini não tinha intenção de "afirmar o ideário cristão para 
                reconquistar a grandeza perdida" e também não utilizou a Antiguidade para "favorecer a participação política".
                
                </p>
            </div>
          </div>
          <div class="questao">
            <h2>3. QUESTÃO 3-(Enem Digital 2020)  <br />
              Os cuidados com o corpo vão se tornando uma exigência na modernidade e implicam a convergência de uma série de elementos: as 
              tecnologias, para tanto, vão se desenvolvendo de maneira acelerada; o mercado dos produtos e serviços voltados para o corpo 
              vai se expandindo; a higiene que fundamentava esses cuidados vai sendo substituída pelos prazeres do “corpo”, implicação lógica 
              do processo de secularização, no qual há a identificação da personalidade dos indivíduos com sua aparência. Por todas essas 
              circunstâncias, o cuidado com o corpo transforma-se numa ditadura do corpo, um corpo que corresponda à expectativa desse tempo, 
              um corpo que seja trabalhado arduamente e do qual os vestígios de naturalidade sejam eliminados.
              
              O fenômeno social identificado, em relação à presença do corpo na sociedade, indica que
              
                </h2>
            <form id="form3">
              <br /><input type="radio" id="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo."
               name="questao3" value="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo." />
              <label for="A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo.">
                A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo.
              </label><br />

              <input type="radio" id="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo."
               name="questao3" value="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo." />
              <label for="B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo.">
                B-os cuidados com o corpo na modernidade reforçam a naturalidade da personalidade do indivíduo.
    
            </label><br />
    
              <input type="radio" id="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal"
               name="questao3" value="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal" />
              <label for="C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal">
                C-a expansão das tecnologias de cuidado reduz o impacto desempenhado pelos padrões estéticos na construção da imagem corporal
            </label><br />
    
            <input type="radio" id="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos."
             name="questao3" value="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos." />
            <label for="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.">
              D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.

            </label><br />
    
             <input type="radio" id="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população."
                name="questao3" value="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população." />
               <label for="E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população.">
                E-os padrões estéticos desempenham uma importante função social à medida que induzem à melhoria dos indicadores de saúde na população.

            </label><br />
    
              <button type="button" onclick="verificarQuestao3()">Verificar</button>
            </form>
    
            <div class="resultado" id="resultado3"></div>
            <div id="resolucao3" style="display: none">
              <p><strong>Resolução:</strong> 
                A-as tecnologias, o mercado dos produtos e serviços e a higiene criaram uma ditadura do corpo.
                 <br />
                <br> De acordo com o texto, os cuidados com o corpo na modernidade se tornaram uma exigência e envolvem a convergência de uma série de elementos, 
                como o desenvolvimento acelerado de tecnologias, o crescimento do mercado de produtos e serviços voltados para o corpo, e o fato de que a higiene que 
                antes fundamentava esses cuidados foi substituída pelos prazeres do "corpo". Isso leva a uma ditadura do corpo, em que há uma expectativa de que 
                ele corresponda aos padrões estéticos desse tempo e seja trabalhado arduamente para eliminar qualquer traço de naturalidade. Portanto, a opção A é a correta.
                
                
                </p>
            </div>
          </div>
          <div class="questao">
            <h2>4. QUESTÃO 4-(Enem Digital 2020)  <br />
              O que dizer de um corpo flácido, gordo, considerado deselegante nos dias de hoje, mas que era, há não muito tempo, considerado sensual e 
              inspirador por pintores clássicos? Como entender o conceito de saúde, associado antigamente a um corpo robusto, até mesmo gordo, e atualmente 
              relacionado a um corpo magro? E o corpo já não tão jovem, sobre o qual é imposta uma série de “consertos” e “reparos” para parecer mais jovem? 
              O que se pode dizer é que o corpo é uma síntese da cultura, pois, através do seu corpo, o ser humano vai assimilando e se apropriando dos valores, 
              normas e costumes sociais, em um processo de incorporação.

              As mudanças das representações sobre o corpo ao longo da história são provenientes da

                </h2>
            <form id="form4">
              <br /><input type="radio" id="A-busca permanente pela saúde relacionada a um padrão corporal específico."
               name="questao4" value="A-busca permanente pela saúde relacionada a um padrão corporal específico." />
              <label for="A-busca permanente pela saúde relacionada a um padrão corporal específico.">
                A-busca permanente pela saúde relacionada a um padrão corporal específico.
              </label><br />

              <input type="radio" id="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. "
               name="questao4" value="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. " />
              <label for="B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano. ">
                B-interferência da História da Arte sobre padrões corporais valorizados no cotidiano.
            </label><br />
    
              <input type="radio" id="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal."
               name="questao4" value="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal." />
              <label for="C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal. ">
                C-pesquisa por novos procedimentos estéticos voltados aos cuidados com a aparência corporal.

            </label><br />
    
            <input type="radio" id="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos."
             name="questao4" value="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos." />
            <label for="D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.">
              D-o enfraquecimento atual dos padrões de beleza favorece o crescimento do mercado de produtos e serviços voltados aos cuidados estéticos.

            </label><br />
    
             <input type="radio" id="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo."
                name="questao4" value="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo." />
               <label for="E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo.">
               E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo.


            </label><br />
    
              <button type="button" onclick="verificarQuestao4()">Verificar</button>
            </form>
    
            <div class="resultado" id="resultado4"></div>
            <div id="resolucao4" style="display: none">
              <p><strong>Resolução:</strong> 
                E-influência da sociedade na construção dos sentidos e significados sociais relacionados ao corpo.
                 <br />
                <br>  As mudanças das representações sobre o corpo ao longo da história são provenientes da influência da sociedade 
                na construção dos sentidos e significados sociais relacionados ao corpo. É importante destacar que o corpo é uma síntese 
                da cultura e reflete os valores, normas e costumes da sociedade em que está inserido. Portanto, a forma como o corpo é visto 
                e valorizado pode variar de acordo com a época e o contexto cultural. Além disso, é preciso levar em consideração que o conceito 
                de saúde também pode mudar ao longo do tempo, e que isso pode estar relacionado a diferentes fatores, como a medicina e a nutrição, por exemplo.
                </p>
            </div>
        </div>
        <div class="questao">
          <h2>5. QUESTÃO 5-(Enem Digital 2020)  <br />
            Nos dias atuais, para as crianças e os adolescentes, a alimentação adequada e balanceada está associada, na maioria das vezes,
            à busca da forma ideal, segundo padrões ditados pela mídia. Se antes essa preocupação era predominantemente feminina, hoje existem 
            adolescentes tentando emagrecer a qualquer custo: entram e saem de dietas e regimes feitos por conta própria, automedicam-se ou 
            praticam exercícios físicos sem orientação.
            Adolescentes associam que a conquista da “forma ideal” do corpo está relacionada à

              </h2>
          <form id="form5">
            <br /><input type="radio" id="A-adoção de hábitos inadequados à saúde no cotidiano."
             name="questao5" value="A-adoção de hábitos inadequados à saúde no cotidiano." />
            <label for="A-adoção de hábitos inadequados à saúde no cotidiano.">
            A-adoção de hábitos inadequados à saúde no cotidiano.

            </label><br />

            <input type="radio" id="B-busca de auxílio médico para o tratamento com fármacos."
             name="questao5" value="B-busca de auxílio médico para o tratamento com fármacos." />
            <label for="B-busca de auxílio médico para o tratamento com fármacos.">
             B-busca de auxílio médico para o tratamento com fármacos.

          </label><br />
  
            <input type="radio" id="C-adesão a programas oferecidos por academias de ginástica."
             name="questao5" value="C-adesão a programas oferecidos por academias de ginástica." />
            <label for="C-adesão a programas oferecidos por academias de ginástica.">
            C-adesão a programas oferecidos por academias de ginástica.

          </label><br />
  
          <input type="radio" id="D-atuação da mídia na estética presente no imaginário feminino."
           name="questao5" value="D-atuação da mídia na estética presente no imaginário feminino." />
          <label for="D-atuação da mídia na estética presente no imaginário feminino.">
          D-atuação da mídia na estética presente no imaginário feminino.


          </label><br />
  
           <input type="radio" id="E-procura de um nutricionista para a realização de dieta e regime."
              name="questao5" value="E-procura de um nutricionista para a realização de dieta e regime." />
             <label for="E-procura de um nutricionista para a realização de dieta e regime.">
             E-procura de um nutricionista para a realização de dieta e regime.

          </label><br />
  
            <button type="button" onclick="verificarQuestao5()">Verificar</button>
          </form>
  
          <div class="resultado" id="resultado5"></div>
          <div id="resolucao5" style="display: none">
            <p><strong>Resolução:</strong> 
              A-adoção de hábitos inadequados à saúde no cotidiano

               <br />
              <br>Adolescentes associam que a conquista da "forma ideal" do corpo está relacionada à adoção de hábitos inadequados à saúde no cotidiano. 
              A pressão pela conformidade aos padrões de beleza impostos pela mídia pode levar os adolescentes a buscar formas pouco saudáveis de alcançar esses 
              padrões, como entrar e sair de dietas e regimes feitos por conta própria, automedicar-se ou praticar exercícios físicos sem orientação. É importante ressaltar 
              que a busca pela forma ideal do corpo não deve ser priorizada em detrimento da saúde e da qualidade de vida. É preciso encontrar um equilíbrio e adotar 
              hábitos saudáveis de alimentação e exercícios físicos, com o auxílio de profissionais qualificados, se necessário.
                            
              </p>
          </div>
      </div>

      
    </main>
    <%- include('components/footer') %>
  </body>
</html>
