<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main>
      <%- include('components/header-main') %>
      <h1>admin</h1>
      <div class="form-admin">
        <form action="/" method="POST" class="form">
          <div class="form-group">
            <div class="input">
              <input
                type="text"
                name="admin_login"
                class="admin-login"
                id="admin-login"
              />
              <label for="admin-login"></label>
            </div>
            <div class="input">
              <input
                type="password"
                name="admin_password"
                class="admin-password"
                id="admin-password"
              />
              <label for="admin-password">Admin Password</label>
            </div>
            <div class="btn-group">
              <div class="btn">
                <button>login</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <%- include('components/script') %>
    </main>
  </body>
</html>
