<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main>
      <%- include('components/header') %>
      <section><h1>home</h1></section>
      <%- include('components/footer') %>
    </main>
    <%- include('components/script') %>
  </body>
</html>
