<header class="header-home">
  <picture class="img-logo">
    <img src="/logocelso.png" alt="" />
  </picture>
  <div class="container">
    <nav class="main-menu">
      <ul>
        <li><a href="/home">Home</a></li>
        <li>
          <a href="#">livros</a>
          <ul>
            <li><a href="/romance">Romance</a></li>
            <li><a href="/terror">Terror</a></li>
            <li><a href="/suspense">Suspense</a></li>
            <li><a href="/hq's">HQ's</a></li>
            <li><a href="/comedia">Comedia</a></li>
            <li><a href="/criminais">Criminais</a></li>
            <li><a href="/fabulas">Fabulas</a></li>
            <li><a href="/gibis">Gibis</a></li>
          </ul>
        </li>
        <li><a href="/register">cadastro</a></li>
      </ul>
    </nav>
  </div>
</header>
