<header>
  <div class="container">
    <label class="hamburger-menu">
      <input type="checkbox" />
    </label>
    <nav class="main-menu-hamburger">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Cadastro</a></li>
      </ul>
    </nav>
    <nav class="main-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contato">Contato</a></li>
        <li><a href="/produtos">Produtos</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Cadastro</a></li>
      </ul>
    </nav>
  </div>
</header>
