<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="space">
        <h1>Eventos</h1>
        <div class="div-eventos">
            <div class="div-esquerda">
              <img src="/img/criançasnatal.png" />
              <p>
              
                Cesta Básica: A entrega das cestas básicas para as famílias é feita mensalmente. O recebimento ocorre com as famílias indo ao local da ONG para recebê-las, onde temos um processo para isso. As famílias são cadastradas para que não haja imprevistos, e todas são assistidas pela representante da ONG, Gisele. Dessa forma, sabemos da situação de cada família, o que facilita nosso trabalho. Todo o alimento é mantido nos armazenamentos da ONG, que estão localizados no mesmo lugar onde montamos as cestas, evitando problemas de perda dos alimentos. A nossa equipe prepara todas as cestas com igualdade, e este alimento ajuda muito na renda familiar dessas pessoas, que são famílias vulneráveis e vivem em situação precária, sem saneamento básico e sem um trabalho para sustentar a casa e se alimentar. Por isso, é muito importante, mesmo que seja pouco, pois às vezes o pouco para você é muito para outra pessoa.


              </p>
            </div>

            <div class="div-centro">
              <img src="/img/keillane.png" />
              <p>
                
                Cobertas: Durante todo o ano, necessitamos de cobertas para amparar a população em situação de rua. Sabemos que nosso estado e região não têm um clima favorável, principalmente no inverno, e que, infelizmente, neste ano, foram registradas três mortes por conta do frio extremo. Isso não é brincadeira, e sabemos disso. Diferente da cesta básica, compramos as cobertas. Toda segunda-feira à noite, vamos às ruas para entregar as cobertas aos necessitados. Quando estamos com um estoque menor, doamos para quem realmente não tem nada. E não só nas ruas, como também entregamos os cobertores no nosso café da manhã de segunda a sábado. Saiba que os cobertores biodegradáveis salvam vidas.
              </p>
            </div>

            

           

        </div>
      
    </main>
    <%- include('components/footer') %>
  </body>
</html>
