<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <div id="container"></div>
    <%- include('components/header') %>
    <main>
      <section id="home" class="home">
        <div class="space">
          <h1>Home</h1>
        </div>
      </section>
      <section id="quemSomos" class="quemsomos">
        <div class="space">
          <h1>Quem Somos?</h1>
        </div>
      </section>
      <section id="comoAjudar" class="comoajudar">
        <div class="space">
          <h1>Como Ajudar?</h1>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
