<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <div id="container"></div>
    <%- include('components/header') %>
    <main>
      <section id="home" class="home">
        <div class="space">
          <h1>Home</h1>
          <div class="div-pricipal">
            <div class="div-esquerda">
              <h1>primeira</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis rerum, reiciendis alias quaerat consectetur aut ea eos repudiandae quidem sint. Corporis laboriosam voluptatum labore optio atque soluta deserunt itaque. Alias?</p>
            </div>
            <div class="div-centro">segunda</div>
            <div class="div-direita">terceira</div>
          </div>
        </div>
      </section>
      <section id="quemSomos" class="quemsomos">
        <div class="space">
          <h1>Quem Somos?</h1>
        </div>
      </section>
      <section id="comoAjudar" class="comoajudar">
        <div class="space">
          <h1>Como Ajudar?</h1>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
