<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <div id="container"></div>
    <%- include('components/header') %>
    <main>
      <section id="home" class="home">
        <div class="space">
          <h1>Home</h1>
          <div class="div-principal">
            <div class="div-esquerda">
              <img src="/img/dubstep.png" alt="" />
            </div>
            <div class="div-centro">segunda</div>
            <div class="div-direita">terceira</div>
            <div class="div-quarta">terceira</div>
          </div>
        </div>
      </section>
      <section id="quemSomos" class="quemsomos">
        <div class="space">
          <h1>Quem Somos?</h1>
        </div>
      </section>
      <section id="comoAjudar" class="comoajudar">
        <div class="space">
          <h1>Como Ajudar?</h1>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
