<!DOCTYPE html>
<html lang="pt-br">
<%- include('components/head') %>
<body>
    <div id = "container">
        <header>
            <section class = "Region col-12">
                <style data-component="AdinHeader">
                    .adinHeader{border: 1px solid
                #ccc; padding: 10px}.adinHeader_Label{color: #729fff}.adinHeader_ExtraInfo{background-color: 
                red;color:#ff0;margin-left:5px;}

                
                </style>
                <header class="adin-header">
                    <nav class="primary-header">
                </nav>
                </header>
                <nav class="navbar navbar-expand-lg navbar-ligth main-header">

                </nav>
            </section> 



        </header>

    </div> 
    <%- include('components/header')  %>
    <main>
        <section id="home" class="home">
            <h1>Home</h1>
        </section>
        <section id="quemSomos" class="quemsomos">
            <h1>Quem Somos?</h1>
        </section>
        <section id="comoAjudar" class="comoajudar">
            <h1>Como Ajudar?</h1>
        </section>

    </main>
    <%- include('components/footer') %>
    
</body>
</html>