<header class="header-home">
    <picture class="img-logo">
     <img src="/img/BrasilSaneado.png" alt="">   
    </picture>
    <div class="container">
        <nav class="main-menu">
            <ul>
                <li><a href="/">menu</a></li>
                <li><a href="/login">login</a></li>
                <li><a href="/register">cadastro</a></li>
            </ul>
        </nav>
    </div>
</header>