<header class="header-home">
  <picture class="img-logo">
    <img src="/img/BrasilSaneado.png" alt="" />
  </picture>
  <div class="container">
    <nav class="main-menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Cadastro</a></li>
      </ul>
    </nav>
  </div>
</header>
