<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <h1>Blog</h1>
      <%- include('components/footer') %>
</script>
    </div>   
    </main>
  </body>
</html>
