<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>

    <main>
      <section></section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
