<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <section></section>
    </main>
    <%- include('components/footer') %>
    <div class="retangulo">
      <h3>Quem Somos?</h3>
    </div>
  </body>
</html>
