<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <h1>Quem somos?</h1>
      <%- include('components/footer') %>

    
      </div>
    </main>
  </body>
</html>
