<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <div class="content_pages">
        <% pages.forEach((page) => {%>
        <div>
          <% if (page.position_name === "Quem somos"){ %>
          <div><%- page.page_content %></div>
          <% } %>
        </div>
        <% }) %>
      </div>
      <%- include('components/footer') %>
    </main>
  </body>
</html>
