<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      
   
    <div class="home2">  
    <div class="materias">
      <div class="content-form-login2">
        <form action="/loginRegister/login" method="post">
          <h1  style="color:  var(--cor-verde);">Matérias</h1>
          <ul>
            <li>
               <h3> Ciências da Natureza </h3><br>
               (Biologia, Química, Física)<br> <br>
               <h3>Ciências Humanas</h3><br>
               (História, Geografia, Filosofia, Sociologia)<br> <br>
               <h3>Linguagens, Códigos e 
                suas tecnologias</h3><br>
               (Português, Literatura, Língua Estrangeira, Artes,
               Educação Física, Tecnologia da informação e comunicação)<br> <br>
               <h3>Matemática e suas Tecnologias</h3>
            </li>
          </ul>
          </div>
        </form>
      </div>
      <div class="centralizado">
      <div class="vestibulares">
        <div class="content-form-login2">
          <form action="/loginRegister/login" method="post">
            <h1 style="color:  var(--cor-verde);">Vestibulares</h1>
            <ul>
              <li>
                 <h3 id="enem">  <p>Enem</p> </h3><br>
                 <a href="http://localhost:5000/vestibulares">
                  <img src="/img/1.png" alt="Descrição da Imagem">
                  <br>
                </a>
                <br>
                <li>
                  <h3>↑ Clique aqui e você será direcionado aos vestibulares disponíveis.</h3>
                </li>
              </div>
              </li>
            </ul>
            </div>
          </form>
        </div>
      </div> 
    </main> 
    <%- include('components/footer') %>
  </body>
</html>
