<header class="header-home">
  <div class="img-logo">
    <picture>
      <img src="/img/dubstep.png" alt="" />
    </picture>
    <!-- <h1>Logo</h1> -->
  </div>
  <div class="container">
    <nav class="main-menu">
      <ul>
        <li><a href="/">Livros</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="/contato">Contato</a></li>
        <li>
          <a href="/produtos">Produtos</a>
          <ul>
            <li><a href="#">Produto 01</a></li>
            <li><a href="#">Produto 01</a></li>
            <li><a href="#">Produto 01</a></li>
            <li><a href="#">Produto 01</a></li>
          </ul>
        </li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Cadastro</a></li>
        <li><a href="/loginRegister">Login / Cadastro</a></li>
      </ul>
    </nav>
    <div class="search">
      <form>
        <input type="search" name="pesquisa" placeholder="Pesquisar" />
        <button><i class="bx bx-search-alt-2"></i></button>
      </form>
    </div>
  </div>
</header>
