<header class="header-home">
  <picture class="img-logo">
    <img src="/img/PROTEJA_SEUS_DADOS.png" alt="" />
  </picture>
  <div class="container">
    <nav class="main-menu">
      <ul>
        <li><a href="/">Blog</a></li>
        <li><a href="/quemsomos">Quem somos?</a></li>
        <li><a href="/dicas">Dicas</a></li>
      </ul>
    </nav>
  </div>
</header>
