<header class="header-home" id="header-home">
  <div class="top-content">
    <nav class="nav-superior">
      <ul>
        <li><a href="/contato">Contato</a></li>
      </ul>
    </nav>
  </div>
  <div class="navigation">
    <picture class="img-logo">
      <a href="/#home"><img src="/img/anjos.png" alt="" /></a>
    </picture>
    <div class="container">
      <nav class="main-menu">
        <ul>
          <li><a href="/#home">Home</a></li>
          <li><a href="/#quemSomos">Quem Somos</a></li>
          <li><a href="/#comoAjudar">Como ajudar</a></li>
          <li><a href="/eventos">Eventos</a></li>
          <li><a href="/contato">Contato</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
