<footer>
  <div class="content-footer">
    <h3 class="rodape2">
      <br />    
      Laura 17 anos Curso de interesse: Artes visuais<br />
      A laura colaborou na execução desse site com os layouts, as cores , as
      fontes das letras, ou seja, o front end do site. <br /><br />Guilherme 17
      anos Curso de interresse: Engenharia civil<br />
      O Guilherme colaborou com parte do back-end do site e o banco de dados.<br /><br />
      Maria Clara 17 anos Curso de interresse: Fisioterapia<br />
      A Maria Clara ficou responsável com a execução da documentação e no plano
      de ação para realizar esse site.
    </h3>
    <h3 class="questvestrodape">QuestVest ©</h3>
  </div>
</footer>
<script src="/assets/js/script.js"></script>