<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <h1>Matérias</h1>
      <div class="container-materias">
        <div class="menu-materias">
          <nav>
            <ul>
              <li><a href="/materias/educacao-fisica">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">6</a></li>
              <li><a href="#">7</a></li>
              <li><a href="#">8</a></li>
              <li><a href="#">9</a></li>
              <li><a href="#">10</a></li>
              <li><a href="#">11</a></li>
            </ul>
          </nav>
        </div>
        <div class="content-questao">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia
            nobis aliquam nemo quam earum. Doloremque aperiam voluptate
            temporibus quia pariatur placeat aliquid harum, hic officiis
            delectus minima! Quibusdam, temporibus ullam.
          </p>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
