<!DOCTYPE html>
<html lang="pt-br">
    <%- include('components/head') %>
<body>
    <%- include('components/header')  %>
    <main>
        <section>
            <div class="tudoquemsomos">
            <div class="title-quem-somos">
                <h1>Quem Somos?</h1>
                <br>
                <p>
                         A plataforma acadêmica "Quest Vest" é um site de estudos voltado para o vestibular, onde no mesmo é possível<br> ver conteúdos de todas as matérias, 
                    realizar quiz e exercícios para fixar o aprendizado de uma matéria <br> de forma rápida e fácil, sendo assim, trazendo melhorias e instruções 
                    para os jovens do novo ensino médio <br>que pretendem passar em exames externos.                   
                    Somos alunos do ensino médio da E.E.DR Celso Gama, com<br> o propósito de ajudar outros estudantes a realizarem seus sonhos acadêmicos. Juntos desenvolvemos<br> essa plataforma com o 
                    intuito de ser um apoio de estudos para os estudantes passarem em seus exames almejados.
                
                    
                </p>
                <br>
                <br>
                <h2>Missão</h2>
                <p>Nossa missão é oferecer ferramentas e recursos acessíveis e fáceis para maximizar o tempo e a qualidade<br> de estudo do aluno, sempre com o objetivo de ter resultados melhores em 
                    seus vestibulares com o foco nos<br> aprendizes do novo ensino médio diante das dificuldades sendo enfrentadas com a nova grade curricular.
                </p>
                <br>
                <br>
                <h2>Visão</h2>
                    <p>Nossa visão com essa plataforma é ensinar e preparar todos os alunos para os vestibulares, independente <br>de suas condições financeiras e acadêmicas, 
                        assim em um prazo de 1 ano a 2 anos nossos vestibulandos estejam<br> prontos para ter um bom desempenho desejado nos concursos.
                    
                    </p>
                    <br>
                    <br>
                <h2>Valores</h2>
                    <p>Os nossos valores envolve a integridade pois temos o compromisso com a honestidade, sempre mantendo a confiança com os <br> nossos vestibulandos. A inovação é de extrema importância pois queremos 
                        que os jovens tenham gosto por estudar, <br>conseguindo ir atrás de seus sonhos, assim conquista-los. Inquestionavelmente prezamos pela diversidade pois somos todos <br> diferentes uns dos outros,
                         portanto queremos passar conhecimento de uma forma igualitária.
                    </p>
                    
            </div>
            <div class="avatar"></div>
            <img src="/img/fotos.png">
            </div>
</div>

        </section>
    </main>
    <%- include('components/footer') %>


</body>
</html>