<footer>
  <div class="content-footer">
    <div class="footer-left">
      <p><i class="bx bxs-copyright"></i> Copyright 2024</p>
    </div>
    <div class="footer-center">
      <div>
        <a href="https://www.instagram.com/luvleymarii/">
          <i class="bx bxl-instagram"></i>
        </a>
        <a href="http://wa.me/+5511967647749">
          <i class="bx bxl-whatsapp"></i>
        </a>
      </div>
    </div>
    <div class="footer-right">
      <p>Para mais dúvidas e informações</p>
      <p>@syamashiro_</p>
    </div>
  </div>
</footer>
<script src="/js/script.js"></script>
