<div class="header-admin">
  <div class="img-logo">
    <picture>
      <img src="/img/dubstep.png" alt="" />
    </picture>
    <!-- <h1>Logo</h1> -->
  </div>
  <nav class="main-menu-admin">
    <ul>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="#">Paginas</a></li>
      <li><a href="#">configurações</a></li>
      <li><a href="/logoutAdmin">Logout</a></li>
    </ul>
  </nav>
</div>
