<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
      <section class="home-page">
        <% pages.forEach((page) => { %>
        <div>
          <% if (page.position_name === 'Artigos') { %>
          <div><%- page.page_content %></div>
        </div>
        <% } }) %>
      </section>
      <section class="container-artigos">
        <div class="content-artigo">
          <div class="artigo" id="artigo">
            <h1>Artigo</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Cupiditate quis iusto iure atque, accusantium inventore ducimus at
              delectus pariatur? Quam soluta necessitatibus perspiciatis vero
              consequatur maiores facilis laudantium minus. Voluptatibus.
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
              finibus risus nec ipsum vestibulum facilisis. Curabitur eget
              dapibus ipsum, at sollicitudin libero. Aliquam libero arcu,
              lobortis ullamcorper hendrerit non, congue ut quam. Proin
              ultricies diam tortor, malesuada eleifend quam bibendum at.
              Maecenas vulputate neque libero. Vestibulum et orci ut libero
              cursus placerat. Aenean vestibulum commodo augue. Donec molestie,
              odio id lacinia efficitur, nisl libero ornare risus, at tincidunt
              dui leo in felis. Maecenas aliquam at est nec rutrum. Proin at
              auctor tortor, sed commodo massa. Vivamus pharetra leo sit amet
              felis bibendum, vel pharetra odio iaculis. Fusce lacinia
              sollicitudin rutrum. Duis accumsan fermentum dui, et blandit ante.
              Ut sodales bibendum consequat. Vivamus molestie vehicula eros, non
              tincidunt metus mollis aliquam.
            </p>
            <p>
              Sed tincidunt felis nec odio maximus, sit amet dictum mauris
              placerat. Nunc blandit aliquet dui. Phasellus quis gravida libero,
              sed commodo nunc. Cras vulputate semper eros, id molestie ipsum
              ultricies non. Aenean velit mauris, fringilla ut auctor pretium,
              ornare non purus. Praesent a tellus nec turpis tincidunt faucibus
              non quis ipsum. Quisque imperdiet ipsum sit amet dui tincidunt,
              vel porttitor dolor blandit. Ut augue velit, ultricies eget diam
              egestas, viverra eleifend tellus. Nulla commodo tincidunt rhoncus.
              Aliquam a mi semper, congue arcu sit amet, dignissim sapien.
              Curabitur varius pretium tellus ut cursus. Nam quis elementum
              nunc, eget sagittis augue. Nunc porttitor sagittis tristique.
              Donec vitae ultrices nulla, quis congue quam.
            </p>
            <button>Continuar Lendo</button>
          </div>
        </div>
      </section>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
