<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>

  <body>
    <%- include('components/header') %>
    <main>
      <div class="content-form">
        <h1>Validando CEP</h1>
        <form action="/checkCEP" method="post">
          <div class="input-cep">
            <label for="user-cep"></label>
            <input
              type="text"
              name="user_cep"
              class="user-cep"
              placeholder="Informe seu cep"
              id="user-cep"
              maxlength="9"
            />
          </div>
          <% if(message.msgCEP) { %>
          <div class="msgError"><%= message.msgCEP %></div>
          <% } %>
          <div class="content-btn" id="btn-cep">
            <button>Valida CEP</button>
          </div>
        </form>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
